<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestingSuite">
  <listeners>
    <listener class-name="com.miamato.TestResultsListener" />
    <listener class-name="com.miamato.TestReporter" />
  </listeners>
  <test name="DependencyExample">
    <classes>
      <class name="com.miamato.test.AmazonSearchTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->